<main class="w-full flex text-slate-900 dark:text-slate-100 flex-col md:flex-row p-10">
<section class="md:min-h-[33rem] gap-4 flex flex-col max-w-[35rem] mb-4">
<h1 class="underline mb-2">20.07.22 Built from Rust</h1>
<p>This collection of web pages are now built with the standard rust programming language.</p>
<p>You can view the source at <a class="underline font-bold" href="https://git.sr.ht/~dawbs/dawbs.co.uk/tree">https://git.sr.ht/~dawbs/dawbs.co.uk/tree</a>.</p>
<p>It's a first draft, but it works.</p>
<h2>"Why?"</h2>
<p>Partly to get better at rust. Mostly a result of grievances with the javascript ecosystem. ¯\_( ツ )_/¯</p>
<a href="../logs.html" class="underline">> Back to Posts </a>
</section>
</main>
