<!DOCTYPE html>
<head>
<title>Dawbs | Home</title>
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<meta name='description' content='Matthew's personal website' />
<link href='static/output.css' type='text/css' rel='stylesheet' />
<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
</head>
<body class='max-w-screen min-h-screen flex flex-col dark:bg-slate-900 text-slate-900 dark:text-slate-200 font-barlow'>
<div class="w-full border-b border-solid border-black">
<a href="index.html" class="block p-[2rem] w-[10rem]">
<img src="static/louise.webp" alt="Louise" class="w-full" />
</a>
</div>
<div>
<div class='flex flex-col lg:flex-row'>
<nav class='pl-10 w-[15rem]'>
<details class='pt-10' open>
<summary class='mb-6'>Menu</summary>
<nav class='flex flex-col underline'>
<a href='index.html'>Home</a>
</nav>
</details>
</nav>
