<ul class="list-decimal columns-2">
    <li><a href='#me'>Me</a></li>
    <li><a href='#license'>License</a></li>
    <li><a href='#contact'>Contact</a></li>
    <li><a href='#contribute'>Contribute</a></li>
</ul>

<p id="me">
    Hi, my name is Matt. I work as a programmer, and sometimes draw
    in my free time. I'm using this space as a way to document my
    drawings and animations.
</p>

<h2 id='contact'>
    Contact
</h2>

<ul>
    <li>Email at <b>matt at dawbs dot co dot uk</b>.</li>
</ul>

<h2 id='license'>
    License
</h2>

<ul>
    <li>
        The source code of the website comes under 
        <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a>.
    </li>
    <li>
        The assets are under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) </a>.
    </li>
</ul>

<h2 id='contribute'>
    Contribute
</h2>

<p>
    If you find any issues with the site such as a broken link, you can
    report it on the <a href="https://todo.sr.ht/~dawbs/dawbs.co.uk">SourceHut Tracker</a>.
</p>
