<main class="w-full flex text-slate-900 dark:text-slate-100 flex-col md:flex-row p-10">
<section class="md:min-h-[33rem] gap-4 flex flex-col w-full md:w-1/3 mb-4 md:mb-0 flex max-w-[35rem]" >
<h1 class="mb-2">Hi! My name is Matt.</h1>
<span class="mb-2"> This site is a constant work in progress, but I hope for it to become a collection of drawings, illustrations and maybe even an animation or two!</span>
</section>
<img src="static/miles-bw.webp" alt="Illustration of Miles Morales from Spider-Man." class="w-full max-w-[30rem] md:mx-auto" />
</main>
