<main class="w-full p-10 max-w-[700px]">
    <p class="pb-10">
    All notable changes to this project will be documented in this file.
    </p>

    <ul class="pl-10 pb-10 list-disc columns-2">
        <li><a class="text-blue-800 underline" href='#apr2023'>04-2023</a></li>
        <li><a class="text-blue-800 underline" href='#may2023'>05-2023</a></li>
    </ul>

    <h2 id="may2023" class="pb-10 text-3xl font-bold">
        May 2023
    </h2>
    <div class="pb-10">
        <p class="font-bold">In Progress.</p>
        <p>Currently working on moving the build process over to C.</p>
    </div>
    <h2 id="apr2023" class="pb-10 text-3xl font-bold">
        April 2023
    </h2>
    <ul class="pl-10 list-disc">
        <li>Added page <a class="text-blue-800 underline" href='illustrations.html'>Illustrations</a>.</li>
        <li>Added page <a class="text-blue-800 underline" href='log.html'>Log</a>.</li>
        <li>Updated homepage animation.</li>
    </ul>
</main>

