{{define "posts"}}
<!DOCTYPE html>
<html>
  {{template "_head"}}
  <body
    class="px-4 min-h-screen flex flex-col dark:bg-slate-900 text-slate-900 dark:text-slate-200"
  >
    {{template "_header"}}
    <div
      class="mx-auto h-[38rem] w-full max-w-[90rem] flex text-slate-900 dark:text-slate-100 md:justify-around flex-col md:flex-row"
    >
      <ul class="mt-10">
        <a href="/" class="underline"> 29.06.22 Title of an article </a>
      </ul>
      <img src="/static/ghibli_ducks.png" class="w-[35rem] hidden md:block" />
    </div>
    {{template "_footer"}}
  </body>
</html>
{{end}}
